
/* .heading{
  color: aqua;
} */
.nav{
    background-color: #AD8B73;
}
.container{
    /* margin: 8px 22rem !important; */
    padding: 1% 17% 1% !important;

}
.navitems{
    color: #FFFBE9 !important;
}
@media screen and(max-width:1028px){
   
}

.col {
    background-color: #E3CAA5;
    height: 200px;
    text-align: center;
    margin: 4%;
    text-align: center;
    border-top-right-radius: 6%;
    border-bottom-left-radius: 6%;
    line-height: 1;
    padding: 7%;
  }
  .booksCategory {
    padding: 7%;
  }