
/* .heading{
  color: aqua;
} */
.nav{
    background-color: #439A97;
}
.containerNav{
    /* margin: 8px 22rem !important; */
     padding: 1% 19% 1% !important; 

} 
.navitems{
    color: white !important;
}
@media screen and(max-width:1028px){
   
}

.col {
    /* background-color: #97DECE; */
    /* border: 1px solid; */
    height: 265px;
    padding: 12px 4px 1px;
    border-top-right-radius: 6%;
    border-top-left-radius: 6%;
    line-height: 1;
 
  }
  
  .bookheadDiv{
    margin-top:30px ;
    height: 50px;
    /* background-color: black; */
  }

  .h3Style{
    display: inline-block;
    float: left;
  }
  .viewAllStyle{
    float: right;
  }

  .images{
    width: 100%;
  }
  .titleDiv{
    margin-top: 18px;
  }

 .starsContainer{
    background-color:green ;
     /* margin-top:8px; */
      height:30px ;
       width:110px !important;
       padding:5%;
        color:white;
  }
  .price{
    display:inline ; 
    padding: 2px;
  }

/* stying mdb icons */


/* styling footer */
.footer{
  background-color: #62B6B7;
}